<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Edit</title>
    <style>
        * {
            box-sizing: border-box;
        }

        input[type=text],
        input[type=number],
        input[type=datetime],
        select {
            width: 90%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block
        }

        button {
            background-color: blue;
            border: none;
            color: white;
            padding: 10px 15px;
            margin: 6px 4px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        .row::before {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <h1>Edit Data</h1>

    <form action="" method="post">
        <div class="row">
            <div class="col-25">
                <label for="ID"> ID </label>
            </div>
            <div class="col-75">
                <input type="text" id="ID" name="ID" value="1" disabled>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-25">
                <label for="String"> String</label>
            </div>
            <div class="col-75">
                <input type="text" id="String" name="String" value="<%= item.string%>" placeholder="String">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-25">
                <label for="Integer"> Integer</label>
            </div>
            <div class="col-75">
                <input type="number" id="Integer" name="Integer" value="<%= item.integer%>" placeholder="Integer">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-25">
                <label for="Float"> Float</label>
            </div>
            <div class="col-75">
                <input type="text" id="Float" name="Float" value="<%= item.float%>">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-25">
                <label for="Date"> Date</label>
            </div>
            <div class="col-75">
                <input type="datetime" id="Date" name="Date" value="<%= item.date%>">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-25">
                <label for="Boolean"> Boolean</label>
            </div>
            <div class="col-75">
                <select id="Boolean" name="Boolean">
                    <option value="<% item.boolean == 'true' ? 'selected' : '' %>">true</option>
                    <option value="<% item.boolean == 'false' ? 'selected' : ''%>">false</option>
                </select>
            </div>
        </div>
        <br>
        <button type="submit">Update</button>
    </form>

</body>

</html>